@color_action: #b26742;
@color_text_on_action: #FFF;
@color_action_hover: rgba(178, 103, 66, 0.9);
@color_text_on_menu: wheat;
@color_success: #dff0d8;
@color_undefined: #fcf8e3;
@color_failure: #f2acac;
