.indexPage {
  .indexPage-link {
    height: 50px;
    line-height: 50px;
    width: 100%;
    background: #EEE;
    text-decoration: none;
    text-transform: uppercase;
    display: block;

    &:hover {
      background: #DDD;
    }
  }

  .grid {
    margin-top: 10px;
  }
}
