@import "../colors";

.breadcrumb {
    padding: 1.5px;
    font-size: 0.8em;
    margin-bottom: 20px;

    .breadcrumb-item {
        display: inline-block;
        margin: 0 1.5px;
        color: gray;

        + .breadcrumb-item {
            &:before {
                content: "/";
                padding-right: 3px;
            }
        }
    }

    a {
        color: gray;
    }
}
