.projectGitRepository {
  .projectGitRepository-name {
    align-items: center;
    display: flex;
    color: #777;
  }

  .projectGitRepository-button {
    display: flex;
    flex: initial;
    margin: 10px 5px 0 0;
    background: rgba(150,150,150,0.1);
    font-size: 12px;
    width: 24px;
    height: 24px;
    line-height: 24px;
    align-items: center;
    text-align: center;

    i {
      width: 100%;
    }

    &:hover {
      background: rgba(150,150,150,0.2);
      cursor: pointer;
    }
  }

  .projectGitRepository-form {
    width: calc(~"100% - 24px");

    input {
      line-height: 1rem;
    }

    .projectGitRepository-closeButton {
      display: flex;
      width: 40px;
      background: #eee;
      flex: initial;
      align-items: center;
      text-align: center;
      i {
        width: 100%;
      }
      &:hover {
        background: #ddd;
        cursor: pointer;
      }
    }
    .projectGitRepository-okButton {
      display: flex;
      width: 40px;
      background: @color_action;
      color: @color_text_on_action;
      flex: initial;
      text-align: center;
      align-items: center;
      i {
        width: 100%;
      }
      &:hover {
        background: @color_action_hover;
        cursor: pointer;
      }
    }
  }
}
