.stepParameterTableCell {
  position: relative;

  .stepParameterTableCell-placeholder {
    color: #CCC;
  }

  .stepParameterTableCell-deleteColumn {
    position: absolute;
    top: -18px;
    left: calc(~"50% - 8px");
    width: 16px;
    height: 16px;
    background: #AAA;
    color: white;
    border-radius: 8px;
    text-align: center;
    line-height: 16px;
    font-size: 10px;
    font-weight: bold;
  }

  .stepParameterTableCell-deleteRow {
    position: absolute;
    left: -18px;
    top: calc(~"50% - 8px");
    width: 16px;
    height: 16px;
    background: #AAA;
    color: white;
    border-radius: 8px;
    text-align: center;
    line-height: 16px;
    font-size: 10px;
    font-weight: bold;
  }
}
